server {
	listen 80;
	server_name localhost {{ repo_hostname }} {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }};
        root /data/repos/;
       location / {
                autoindex on;
        }
}