#!/bin/bash
VER='8'
ARCH='x86_64'
REPOS=({% for repo in repo_repos %}{{ repo }} {% endfor %})
for REPO in ${REPOS[@]}
do
    reposync -p {{repo_location}}/centos/${VER}/ --repo=${REPO} --arch=${ARCH} --download-metadata --newest-only --delete
done
